.shop-section {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.shop-section h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}
.shop-section .responsive-hr {
  width: 50px;
  height: 3px;
  background-color: #03a9f4;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
}
.shop-section .showing-info {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}
.shop-section .showing-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.shop-section .sorting select {
  font-size: 16px;
  padding: 10px;
  height: 40px;
  width: auto;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin-left: 15px;
}
.shop-section .product-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.shop-section .product-grid .product {
  width: calc(23.333%);
  background-color: #fff;
  border: 1px solid #e1e1e1;
  text-align: left;
  padding: 0;
  position: relative;
  transition: box-shadow 0.3s ease;
  border-radius: 8px;
}
.shop-section .product-grid .product img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.shop-section .product-grid .product h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
  padding: 0 0 0 15px;
}
.shop-section .product-grid .product h3:hover {
  color: #03a9f4;
}
.shop-section .product-grid .product .rating {
  color: #03a9f4;
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 15px;
}
.shop-section .product-grid .product .price {
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 15px;
}
.shop-section .product-grid .product .price del {
  color: #999;
  margin-right: 5px;
  text-decoration: line-through;
  font-weight: normal;
}
.shop-section .product-grid .product .price span {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}
.shop-section .product-grid .product .add-to-cart {
  background-color: #03a9f4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-left: 15px;
  margin-bottom: 10px;
}
.shop-section .product-grid .product .add-to-cart .spinner {
  display: none;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  .shop-section .product-grid .product .add-to-cart 0% {
    transform: rotate(0deg);
  }
  .shop-section .product-grid .product .add-to-cart 100% {
    transform: rotate(360deg);
  }
}
.shop-section .product-grid .product .add-to-cart .checkmark {
  display: none;
}
.shop-section .product-grid .product .add-to-cart:hover {
  background-color: black;
}
.shop-section .product-grid .product .add-to-cart .view-cart {
  display: inline;
  margin-left: 10px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.shop-section .product-grid .product button {
  background-color: #03a9f4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-left: 15px;
  margin-bottom: 10px;
}
.shop-section .product-grid .product button:hover {
  background-color: black;
}
.shop-section .product-grid .product .sale-badge {
  position: absolute;
  top: 10px;
  left: 30px;
  background-color: #03a9f4;
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
}
